
.App {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: repeat(12,1fr);
  
 }
 .App>.Header{
    grid-column: 12 span;
  grid-row: 1 span;
  background-color: var(--background-color);	
}
.App>.Menu{
    grid-column: 2 span;
  grid-row: 12 span;
  background-color: var(--background-color);
}
.App>.Main{
 
  grid-column: 10 span;
  grid-row: 11 span;
  background-color: var(--secondary-color);
}
